.ToDo {
    text-align: center;
    margin: 50px 70px;
    min-height: 350px;
    padding: 25px;
    border: 2px solid cadetblue;
    border-radius: 5px;
}

.text {
    justify-content: space-between;
    display: flex;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px 50px;
    padding: 10px 30px;
}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}